@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #1E40AF;
    --secondary-color: #f50057;
    --light-sky_blue-color:#DBEAFE;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    padding-right: 7rem 1rem;
}

.container-center {
    max-width: 800rem;
    margin: auto;
    margin-top: 2rem;
    text-align: center;

}

.nav {
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;

}

.link1 {
    text-decoration: none;
    color: white;
}

.img {
    padding-top: 5rem;
}

.primary {
    color:var(--primary-color);
    border-radius: 0.5rem;
    padding: 1rem 1.3rem;
    border: 0.1rem solid var(--primary-color);
    font-size: 1.7rem;
    margin-bottom: 1.4rem;
}

.seconday_btn {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    padding: 1rem 1.3rem;
    font-size: 1.7rem;
    margin-bottom: 1.4rem;
}

.seconday_btn:hover {
    color: var(--primary-color);
    border: 0.1rem solid var(--primary-color);
    background-color: var(--light-sky_blue-color);


}

.primary:hover {
    background-color:var(--primary-color);
    color: white;
}

.list-non-bullet {
    list-style: none;
    font-size: 1.1rem;
}

.footer_list-non-bullet {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    height: 7rem;
}

.nav-pills {
    text-align: right;
    margin-top: -3rem;
    font-weight: 900;
    font-size: 1.8rem;
}

.navigation .link_active {
    color: var(--secondary-color);
}

.par-center {
    text-align: center;
    padding-top: 2px;

}

.footer_color {
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}

.spa {
    padding: 2rem;
}

.heading {
    text-decoration: none;
}

.clo {
    background-color:var(--light-sky_blue-color);
    padding-bottom: 2rem;
}

.head_cl {
    color: var(--secondary-color);

}

.python-align {
    margin-left: 10rem;
    margin-right: 10rem;
}

.par-center {


    padding-top: 2rem;
}

.neetu_heading {
    font-size: 2.5rem;
    margin: 2rem;

}

.quizIcon {
    color: white;
    font-size: 3rem;
}

.image_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image_size {
    width: 50rem;
}

.tech_container {
    display: flex;
    gap: 9rem;
    flex-wrap: wrap;
    margin: 3rem;

}

.tech_image {
    height: 5rem;
    width: 6rem;
}

.row_text {
    font-size: 2rem;
    margin: 1rem;
}

.bottom_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:var(--light-sky_blue-color);
    margin: 5rem;
    gap: 1rem;
    border-radius: 1rem;
    flex-wrap: wrap;

}

.center_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.degignation {
    font-size: 3rem;
    color: var(--secondary-color);
    font-weight: 900;
    margin-top: 2rem;
}

.primary_space {
    position: relative;
    top: 1rem;
}

.tech_heading {
    font-size: 2.5rem;
}

.tech_text {
    font-size: 1.8rem;
}


.project_btn_div {
    margin-bottom: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.project_heading {
    margin-top: 2.5rem;
}